.kt-widget17
{
    background-color: #68d1ff;
}

.kt-form__label label{
    width: max-content;
}

.kt-aside__brand, .kt-aside-menu, .kt-menu__toggle,.kt-aside {
   background-color: #1d2c5a !important;
}

.amcharts-chart-div a{
	display: none!important;
}

.kt-datatable__body tr td:nth-child(3) span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kt-datatable__body tr td:nth-child(5) span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.amcharts-scrollbar-label{
    fill: rgb(0,0,0)!important;
}

body {
    background: #f2f3f8!important; }

.kt-scrolltop{
    border-radius: 50%!important;
    bottom: 50%!important;
}

